$color-green: #16a085;

$color-grey-light-3: #f0f1f2;
$color-grey-dark: #777;

$color-light-danger: #e17055;
$color-dark-danger: #c23616;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f0f1f2;

$color-white: #fff;
$color-black: #000;
