$input-gutter-spacing: 2rem;

.products {
  // overflow-x: visible;
  overflow-y: auto;
  background-color: rgba($color-grey-dark, 0.1);

  width: 100%;
  min-height: 80%;
  padding-top: 5rem;

  &__plus-button {
    padding: 1.5rem 1.7rem;
    font-size: 2rem;
    display: inline-block;
    color: $color-white;
    outline: none;
    border: none;

    border-radius: 50%;
    background-color: darken($color-green, 15);

    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
    transition: all 0.2s;

    &--fixed {
      position: fixed;
      bottom: 5rem;
      right: 6rem;
    }

    &:hover {
      transform: translateY(-2px) scale(1.2);
    }
    &:active {
      transform: translateY(0) scale(1.2);
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.5);
    }
  }
  &__create-form {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: $color-grey-dark;

    &--image-upload {
      min-height: 20rem;

      input[type="file"] {
        display: none;
      }

      .file-input {
        color: $color-green;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .image-upload-previewer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .image-preview {
        padding: 1rem;
        max-width: 45%;
      }
    }

    &--input-row {
      &-col-1-of-2 {
        float: left;
        width: calc((100% - #{$input-gutter-spacing}) / 2);
        &:not(:last-child) {
          margin-right: $input-gutter-spacing;
        }
      }

      // &-col-1-of-3 {
      //   float: left;
      //   width: calc((100% - 2 * #{$input-gutter-spacing}) / 3);

      //   &:not(:last-child) {
      //     margin-right: $input-gutter-spacing;
      //   }
      // }

      // &-col-2-of-3 {
      //   float: left;
      //   width: calc(
      //     2 * ((100% - 2 * #{$input-gutter-spacing}) / 3) + #{$input-gutter-spacing}
      //   );
      // }

      @include clearfix;
    }

    &__pricing {
      // background-color: red;
    }

    &__inventory {
      input[type="checkbox"] {
        // display: none;
      }
    }

    &__variants {
      .add-variant {
        color: $color-green;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &-row {
        @include clearfix;

        & > div {
          // display: inline-block;
          float: left;
          &:not(:last-child) {
            margin-right: 5%;
          }
        }

        .variant-option-name {
          width: 25%;
        }

        .variant-option-value {
          width: 50%;
        }

        .variant-option-trash {
          font-size: 1.25rem;
          // height: inherit;
          padding: 1rem 1.5rem;
          color: rgba($color-grey-dark, 0.5);
          border: 1px solid $card-input-border-color;
          border-radius: 5px;
        }
      }

      .btn {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }

    &__actions {
      &--cancel {
        .btn {
          font-size: inherit;
          font-weight: inherit;
          color: inherit;
        }
      }

      &--submit {
        .btn {
          font-size: inherit;
          font-weight: inherit;
        }
      }
    }
  }
}
