.loader {
  border: 1rem solid darken($color-light-grey, 10);
  border-top: 1rem solid darken($color-green, 25);
  border-bottom: 1rem solid darken($color-green, 25);

  border-radius: 50%;

  animation: spin 2s linear infinite;

  &--large {
    width: 15rem;
    height: 15rem;
  }

  &--medium {
    width: 10rem;
    height: 10rem;
  }

  &--small {
    width: 5rem;
    height: 5rem;
    border-width: 0.5rem;
    border-top-width: 0.5rem;
    border-bottom-width: 0.5rem;
  }
  &--center {
    margin: 0 auto;
    margin-top: 40%;
  }

  &__container {
    width: 100%;
    height: 100%;
    // background-color: red;
  }
}
